@import '../../../../common/commonStyles';
@import "../../../../common/constants";


.currency {
  background-color: #5EC49F;
  display: flex;
  justify-content: center;
  align-items: center;
  & h4 {
    line-height: 50px;
  }
}