.header {
    position: sticky;
    top: 0;
    height: 90px;
    display: flex;
    align-items: center;
    background-color: rgb(133, 131, 131);
}

.wrapper {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 40px;
}

.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}