@import '../common/commonStyles.scss';
@import '../common/constants.scss';
@import '../components/Header/HeaderStyles.scss';
@import '../components/Header/components/Logo/LogoStyles.scss';
@import '../components/Header/components/Profile/ProfileStyles.scss';
@import '../components/Header/components/Profile/components/LanguageSelect/LanguageSelectStyles.scss';
@import '../components/Header/components/Profile/components/ProfileItem/ProfileItemStyles.scss';
@import '../components/Header/components/Search/SearchStyles.scss';
@import "~react-image-gallery/styles/scss/image-gallery.scss";
@import "../components/Slider/SliderStyles.scss";

.countries {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;

    &__header {
        padding-left: 20px;
        font-size: 36px;
    }

    &__container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: flex-start;
    }
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 370px;
    height: 370px;
    margin: 20px;
    padding: 30px;
    background-color: #1b295e;
    border: 0 solid;
    outline: 0 solid;
    border-radius: 20px;
    font-size: 24px;
    /*color: #ffffff;*/
    color: $light-font-color;
    box-shadow: 5px 5px 10px 0px rgba(34, 60, 80, 0.2);
    transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1);
    &:hover {
        border: 1px solid;
        box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(76, 80, 82, 0.63);
        outline-color: rgba(255, 255, 255, 0);
        outline-offset: 15px;
        text-shadow: 1px 1px 2px #427388;
    }
    &:active {
        transform: translateY(4px);
    }


    &__header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
        &_favorites {
            display: flex;
            align-items: center;
        }
    }
    &__icon {
        width: 32px;
        margin-left: 10px;
        &.place {
            margin: 0 10px 0 0;
        }
    }

}

.footer {
    //width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px 2px;
    background-color: rgba(255, 56, 92, 0.71);
    font-size: 12px;
    font-weight: bold;
    color: $light-font-color;
    
    &__icons_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    }

    &__icon {
    width: 32px;
    margin-left: 5px;
    }
    &__icon_git {
    width: 16px;
    }
}