.dropdownContainer {
    height: 45px;
    border-radius: 30px;
    overflow: hidden;
    background: url('/src/assets/icons/language_icon.svg') 90% / 35% no-repeat;
    cursor: pointer;
    z-index: 2;
    box-sizing: border-box;
    border: 3px solid #00000000;
    border-radius: 30px;
}

.dropdownContainer select {
    color: black;
    background: transparent;
    width: 70px;
    height: 100%;
    font-size: 16px;
    border: none;
    height: 34px; 
    outline: none;
    padding: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    z-index: 1;
    color: $light-font-color;
    box-sizing: border-box;
}

.dropdownContainer select option {
    margin-top: 10px;
    color: $dark-font-color;
}

.dropdownContainer select option:hover {
    background-color: $main-color;
}

select:hover .dropdownContainer, .dropdownContainer:hover {
    border: 3px solid $light-font-color;
    border-radius: 30px;
    box-sizing: border-box;
}