@import '../../common/constants.scss';

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px 2px;
  background-color: rgba(76, 80, 82, 0.51);
  font-size: 16px;
  font-weight: bold;
  color:$light-font-color;

  &__icons_container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__icon {
    width: 40px;
    margin-left: 5px;
  }
  &__icon_git {
    width: 20px;
  }
  &__icon_rsschool {
    background-color: rgba(255, 255, 255, 0.21);
    padding: 5px;
    border-radius: 5px;
  }
}