@import '../../common/constants';


.countryPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.countryDetailsSubTitle {
    color: $dark-font-color;
}

.countryDetailsTitle {
    color: $grey-font-color;
}